.clock_small{
    border-color: black;
    border-style: outset;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #e6e6ff;
    border-width: 2px;
}

.clock_normal{
    border-color: black;
    border-style: outset;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #e6e6ff;
    border-width: 2px;
}

.clock_big{
    border-color: black;
    border-style: outset;
    width: 400px;
    height: 400px;
    border-radius: 300px;
    background-color: #e6e6ff;
    border-width: 2px;
}

.second{
    position: relative;
    content: '';
    background-color: #ff0000;
    width: 40%;
    height: 1%;
    top: 50%;
    left: 10%;
    transform-origin: right;
    animation:rotation 60s linear infinite;
}

.minute{
    position: relative;
    content: '';
    background-color: #68ff00;
    width: 30%;
    height: 1%;
    top: 49%;
    left: 20%;
    transform-origin: right;
    animation:rotation 3600s linear infinite;
}

.hour{
    position: relative;
    content: '';
    background-color: #0006ff;
    width: 20%;
    height: 1%;
    top: 48%;
    left: 30%;
    transform-origin: right;
    animation:rotation 86400s linear infinite;
}

.center{
    position: relative;
    border-color: black;
    border-style: outset;
    width: 1.5%;
    height: 1.5%;
    left: 49%;
    top: 46.5%;
    border-radius: 100px;
    border-width: 1px;
    background-color: #e6e6ff;
}

@keyframes rotation {
    100%{
            transform: rotate(360deg);
        }
}